{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}

    <div class="container">

        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-6">
                <h2>Enter LAT/LONG coordinates</h2><br>

                {{ form_start(coordForm) }}

                    {{ form_errors(coordForm.latCoord) }}
                    {{ form_widget(coordForm.latCoord) }}
                    <br>

                    {{ form_errors(coordForm.longCoord) }}
                    {{ form_widget(coordForm.longCoord) }}

                    <div class="text-center">
                        <button class="btn btn-success mt-3 mb-5" type="submit" name="givenLocation">Start the trip!</button>
                    </div>

                {{ form_end(coordForm) }}

            </div>
        </div>

        {% for message in app.flashes('error') if flashMessages == 0 %}

            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="alert alert-danger">
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            </div>

            {% set flashMessages = 1 %}

        {% endfor %}

        {% if visitedBreweries and flashMessages == 0 %}

            <div class="row mt-5">

                <div class="col">

                    {% set visitedCount = visitedBreweries|length - 1 %}
                    You have visited {{ visitedCount }} breweries in total:
                    <br>

                    {% for brewery in visitedBreweries %}
                        [ {{ brewery.breweryId }} ] {{ brewery.name }}: {{ brewery.latitude }} {{ brewery.longitude }}, distance {{ brewery.distance }}<br>
                    {% endfor %}
                    <br>

                    Total distance traveled: {{ distanceTraveled }} KM.

                </div>
                <div class="col">

                    {% for beerType in collectedBeer %}
                        {{ beerType }}<br>
                    {% endfor %}

                </div>

            </div>

        {% endif %}

    </div>

{% endblock %}
